@use '../../styles/colors' as *;



.page__container{
    display: flex;
    padding-left: 2.25rem;
    width: 90%;
}

.access {
    display: flex;
    flex-direction: column;
}

.blue {
    color: $blue;
}