@use '../../styles/fonts' as *;
@use '../../styles/colors' as *;

.header {
    display: flex;
    width: 100%;
    padding: 1rem 2.5rem 1rem 1rem;
    
    &__container--left {
        display: flex;
        align-items: center;
        width: 80%;
        gap: .5rem;
    }

    &__text {
        font-family: 'roboto';
        font-weight: 400;
        font-size: 2rem;
        color: $text-grey;     
    }

    &__search {
        border-radius: 4px;
        border: none;
        background-color: $search-bar;
        background-image: url('../../assets/icons/search.svg');
        background-repeat: no-repeat;
        background-size: 2rem;
        background-position-x: left;
        background-position-y: center;
        height: 2.5rem;
        width: 60%;
        margin-left: 2rem;
    }

    &__logo {
        width: 10rem;
    }

    &__container--right {
        display: flex;
        gap: 1.5rem;
        align-items: center;
        justify-content: flex-end;
        width: 20%;
    }

    &__help {
        width: 2.5rem;
        height: 2.5rem;
    }

    &__app {
        width: 2.5rem;
        height: 2.5rem;
    }

    &__avatar {
        width: 2.5rem;
        height: 2.5rem;
        background-color: $avatar;
        border-radius: 50%;
    }
}