@use '../../styles/fonts' as *;
@use '../../styles/colors' as *;

.header {
    display: flex;
    width: 100%;
    padding: 1rem 2.5rem 0 1rem;
    
    &__container--left {
        display: flex;
        align-items: center;
        width: 80%;
        gap: .5rem;
    }

    &__text {
        font-family: 'roboto';
        font-weight: 400;
        font-size: 1.375rem;
        line-height: 1.5rem;
        color: $text-grey;     
    }

    &__search {
        border: none;
        background-color: $search-bar;
        background-image: url('../../assets/icons/search.svg');
        background-repeat: no-repeat;
        background-size: 2rem;
        background-position-x: left;
        background-position-y: center;
        height: 2.5rem;
        width: 77%;
        margin-left: 1.5rem;
    }

    &__logo {
        width: 6rem;
    }

    &__container--right {
        display: flex;
        gap: .75rem;
        align-items: center;
        justify-content: flex-end;
        width: 20%;
    }

    &__help {
        width: 2rem;
        height: 2rem;
    }

    &__app {
        width: 2rem;
        height: 2rem;
    }

    &__avatar {
        width: 2rem;
        height: 2rem;
        background-color: $avatar;
        border-radius: 50%;
    }

    &__access-button {
        width: 6.5rem;
        height: 2.5rem;
        border-radius: 2.5rem;
        border: none;
        background-color: white;
        background-image: url('../../assets/images/accessibility_logo.svg');
        background-size: 2.4rem;
        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: center;
        box-shadow: 2px 3px 5px rgb(173, 171, 171);
    }
}
