@use "../../styles/colors" as *;
@use "../../styles/mixins" as *;

.sidebar{
    display:flex;
    flex-direction: column;
    width: 21.875rem;

    &__icon{
        @include icon;
    }

    &__active{
        width:18.75rem;
        border-radius: 0 1.5625rem 1.5625rem 0;
        background-color: $blue-active;
        color: $blue;
    }

    &__content{
        display:flex;
        align-items: center;
        gap: .625rem;
    }

    &__border-bottom{
        border-bottom: 1px solid $border-grey;
        width: 18.75rem;
    }
}

p {
    font-weight: 500;
}



